# Controls when the action will run.
name: Push Epic Branch commit to environment
on:
  push:
    branches:
      - epic/staging_a/*
jobs:
  sync-master-qa-dev:
    runs-on: ubuntu-latest
    steps:
    - name: Set Git config
      run: |
        current_branch=$(${GITHUB_REF#refs/heads/})
        target_branch=$($current_branch | sed -n '/\* /s///p' | awk '{split($0,a,"/"); print a[2]}')
        echo $current_branch
        echo $target_branch
